- name: Install base apt packages
  become: true
  apt:
    name:
      - apt-transport-https
      - byobu
      - ca-certificates
      - direnv
      - git
      - htop
      - iotop
      - lsb-release
      - multitail
      - unzip
    state: latest
    update_cache: yes
    cache_valid_time: "{{ cache_valid_time }}"
  tags:
    - apt

- name: Add direnv shell hook
  blockinfile:
    marker: "# {mark} direnv ANSIBLE MANAGED BLOCK"
    block: |
      eval "$(direnv hook bash)"
    path: ~/.bashrc
  tags:
    - apt
